/*Sitio Web en HTML5, CSS3 en Responsive Web Disign*/
/*Author: William Oswaldo Palma Marroquin*/

*{
	border:0;
	margin:0;
	padding:0;
}

/*Formatear las etiquetas a modo block*/
body, header, nav, section, aside, footer'{
	display: block;
}

/* Estilo de fuente del sitio*/


/*Declaracions de estilos base del sitio para el body*/
html{
	background: url('../img/tile.jpg') repeat #a0c5d1;
}

body{
	background: url('../img/bg.jpg') no-repeat 50% -250px;
	font-family: Helvetica, Verdana;
}

header{
	background-color: #fff;
	background-image: linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EDEDED 100%);

	padding: 15px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
}

a{
	color: #57ABB8;
	font-weight: bold; /*texto en negrita*/
	text-decoration: none; /*quitar el subrayado a los enlaces*/
}

/*Al pasar el puntero en el enlace*/
a:hover{
	color:#F60;
}


header h1{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

h1{
	color:#5e676d;
	font: 35px/45px 'Dancing Script', sans-serif;
	margin: 0 auto;
	padding: 0.8;
	text-align: center;
}

h2{
	font-style:italic;
	font-size:1.2em;
	color:#b2483a;
}

figcaption{
	font-size: 0.85em;
	padding: 0.25em;
	text-align: center;
}

nav{
	text-align: center;
	padding: 0.4em;
	margin:0 auto;
}
nav ul{
	list-style: none;
}

nav li{
	display: inline-block;
}
img, video,iframe{
	max-width: 100%;
}

iframe{
opacity:1;
}

footer{
	margin: 1em;
	padding: 0.5em;
}

section#contenido, footer{
	display: block;
	font-size: 0.9em;
	margin:0 auto 70px;
	max-width: 95%;
	text-align: center;
}

section#principal, aside{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	/*opacity: 0.5;*/
	display: inline-block;
	margin: 0 auto;
	padding: 0.4em;
	vertical-align: top;
	width: 65%;
}

aside{
	color: green;
	width: 30%;
}

